.error{
    color: red;
    font-weight: bold;
}

body{
    font-family: sans-serif;
}

/*Cuando se muestra una sola tabla de multiplicar*/
table {   
    border: 1px solid #000;
    border-collapse: collapse;
    width: 60%;
    max-width: 270px;
    min-width: 270px;
}
th, td {
    width: 50px;
    border: 1px solid #000;
    padding: 5px;
}

/*Cuando se muestra todas las tabla de multiplicar*/
table.todas {   
    border: 1px solid #000;
    border-collapse: collapse;
    width: 60%;
    max-width: 100%;
    min-width: 100%;
}
th.todas, td.todas {
    width: 50px;
    border: 1px solid #000;
    padding: 5px;
}

tr.todas {
    width: 50px;
    border: 1px solid #000;
    padding: 5px;
}

/*Generamos tablas con DIV*/
.contenedor-tabla{

display: table;

}

.contenedor-fila{

display: table-row;

}

.contenedor-columna{

display: table-cell;

}